@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bx{
    font-size: 1.7rem;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

html{
    overflow-x: hidden;
}

body.dark{
    --light: #181a1e;
    --grey: #25252c;
    --dark: #fbfbfb
}

body{
    background: var(--grey);
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: var(--light);
    width: 230px;
    height: 100%;
    z-index: 2000;
    overflow-x: hidden;
    scrollbar-width: none;
    transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.sidebar.close{
    width: 60px;
}

.sidebar .logo{
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--primary);
    z-index: 500;
    box-sizing: content-box;
}

.sidebar .logo .logo-name span{
    color: var(--dark);
}

.sidebar .logo .bx{
    min-width: 60px;
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
}

.sidebar .side-menu{
    width: 100%;
    margin-top: 30px;
    padding-left: 0;
}

.sidebar .side-menu li{
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}



.sidebar .side-menu li a{
    width: 100%;
    height: 100%;
    background: var(--light);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

.sidebar .side-menu li.active a{
    color: #00d10a;
}

.sidebar.close .side-menu li a{
    width: calc(48px - (4px * 2));
    transition: all 0.3s ease;
}

.sidebar .side-menu li a .bx{
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
}

.sidebar .side-menu li a.logout{
    color: var(--danger);
}


.content{
    position: relative;
    width: calc(100% - 230px);
    left: 230px;
    transition: all 0.3s ease;
}

.sidebar.close~.content{
    width: calc(100% - 60px);
    left: 60px;
}


.content nav{
    margin-right: 30px;
    height: 56px;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
}

.content nav a{
    color: var(--dark);
}

.content nav .bx.bx-menu{
    cursor: pointer;
    color: var(--dark);
}

.content nav form{
    max-width: 400px;
    width: 100%;
    margin-right: auto;
}

.content nav .notif{
    font-size: 20px;
    position: relative;
}

.content nav .notif .count{
    position: absolute;
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    background: var(--danger);
    border-radius: 50%;
    color: var(--light);
    border: 2px solid var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar nav .theme-toggle{
    margin-top: 20px;
    width: 25px;
    display: block;
    min-width: 58px;
    height: 25px;
    background: #00d10a;
    cursor: pointer;
    position: relative;
    border-radius: 25px;
}

.sidebar nav .theme-toggle::before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: calc(25px - 4px);
    background: black;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.sidebar nav #theme-toggle:checked+.theme-toggle::before{
    left: calc(100% - (25px - 4px) - 2px);
}

.content main{
    width: 100%;
    height: 100%;
    margin: 0;
    margin-top: 10px;

}

.content main .header{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
}

.content main .header .left h1{
    margin-left: 30px;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--dark);
}


.content main .insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 10px;
    margin-right: 30px;
}

.content main .insights li{
    padding: 24px;
    background: var(--light);
    border-radius: 20px;
    display: flex;
    align-items: center;
    grid-gap: 24px;
    cursor: pointer;
}


.content main .insights li .bx{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content main .insights li:nth-child(1) .bx{
    background: var(--light-primary);
    color: var(--primary);
}

.content main .insights li:nth-child(2) .bx{
    background: var(--light-warning);
    color: var(--warning);
}

.content main .insights li:nth-child(3) .bx{
    background: var(--light-success);
    color: var(--success);
}

.content main .insights li:nth-child(4) .bx{
    background: var(--light-danger);
    color: var(--danger);
}

.content main .bottom-data{
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 18px;
    width: 100%;
    color: var(--dark);
}

.content main .bottom-data>div{
    border-radius: 20px;
    background: var(--light);
    padding: 24px;
    overflow-x: auto;
}


.content main .bottom-data .header h3{
    margin-right: auto;
    font-size: 27px;
    font-weight: 600;
}

.content main .bottom-data .orders{
    flex-grow: 1;
    flex-basis: 500px;
    margin-left: 20px;
    margin-right: 20px;
}

.content main .bottom-data .orders table{
    width: 100%;
    border-collapse: collapse;
}

.content main .bottom-data .orders table th{
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    border-bottom: 1px solid var(--grey);
}

.content main .bottom-data .orders table td{
    padding: 20px 20px ;
}


.content main .bottom-data .orders table tbody tr{
    cursor: pointer;
    transition: all 0.3s ease;
}

.content main .bottom-data .orders table tbody tr:hover{
    background: rgb(232, 232, 232);
}

.content main .bottom-data .orders table tr td .status{
    font-size: 10px;
    padding: 6px 16px;
    color: var(--light);
    border-radius: 20px;
    font-weight: 700;
}

.content main .bottom-data .orders table tr td .status.completed{
    background: var(--success);
}

.content main .bottom-data .orders table tr td .status.process{
    background: var(--primary);
}

.content main .bottom-data .orders table tr td .status.pending{
    background: var(--warning);
}

@media screen and (max-width: 768px) {
    .sidebar{
        width: 200px;
    }

    .content{
        width: calc(100% - 60px);
        left: 200px;
    }

}

@media screen and (max-width: 576px) {
    
    .content nav form.show .form-input input{
        display: block;
        width: 100%;
    }

    .content nav form.show .form-input button{
        width: 36px;
        height: 100%;
        color: var(--light);
        background: var(--danger);
        border-radius: 0 36px 36px 0;
    }

    .content nav form.show~.notif, .content nav form.show~.profile{
        display: none;
    }

    .content main .insights {
        grid-template-columns: 1fr;
    }

    .content main .bottom-data .header{
        min-width: 340px;
    }

    .content main .bottom-data .orders table{
        min-width: 340px;
    }

    .content main .bottom-data .reminders .task-list{
        min-width: 340px;
    }

}


/* ---------------------------------------------Voucher--------------------------------------------- */
.single {
	border-radius: 25px;
    padding: 30px 30px;
    background: white;
    border-bottom: 1px solid #E3EBF1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    align-items: center;
    align-content: flex-start;
}

.icon {
    display: flex;
    height: 100%;
	margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.header_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
}

.header_1 h3 {
    font-size: 16px;
    margin: 0 0 12px 0;
}

.header_1 .desc {
    height: 68px;
    will-change: height;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.header_1 h5 {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 300;
}

.functions {
    margin: 0px 0 0 0;
    gap: 20px;
    flex-direction: row;
	justify-content: space-between;
    width: 100%;
}

.col-6 .left {
	width: 50%;
}

.col-6 .right {
	width: 50%;
}

.functions span {
    font-size: 14px;
}

.functions span:first-child {
    color: #577083;
}

.functions span:last-child {
    color: #3899ec;
}

.functions span:last-child:hover {
    cursor: pointer;
    text-decoration: underline;
}

.functions span:last-child svg {
    margin: 0 0 0 9px;
    vertical-align: middle;
}

.reveal {
    height: 68px;
}

/* ---------------------------------------------Add button--------------------------------------------- */
.button__ {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
}

.button__,
.button__icon,
.button__text {
    transition: all 0.3s;
}

.button__ .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
}

.button__ .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__ .svg {
    width: 30px;
    stroke: #fff;
}

.button__:hover {
    background: #34974d;
}

.button__:hover .button__text {
    color: transparent;
}

.button__:hover .button__icon {
    width: 148px;
    transform: translateX(0);
}

.button__:active .button__icon {
    background-color: #2e8644;
}

.button__:active {
    border: 1px solid #2e8644;
}

/* Đảm bảo bảng giữ nguyên độ rộng của nó và không bị thu nhỏ quá */
.orders table {
    min-width: 100%;
    white-space: nowrap;
}





